/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/


*{
  box-sizing: border-box;
}
/* Changing the header background color and text */
head {
  background-color: #FFDBAA;
  color: #553100;
}

/* Changing the main background */
body {
  background-color: #D4A76A;
}

h1{
  color: #553100;
  justify-self: flex-start;
}
.main-nav{
  width: 100%;
  background-color: #FFDBAA;
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

/* Styling the button */
button {
  background-color: #805215;
  color: white;
  width: 90px;
  height: 50px;
}
