/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

/* Changing the header background color and text */
head {
  background-color: #FFDBAA;
  color: #553100;
}

/* Changing the main background */
body {
  background-color: #D4A76A; 
}

/* Styling the button */
button {
  background-color: #805215;
}
