/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
//changing the header background color and text
head{
  background-color: #FFDBAA
  text: #553100
}
