/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D4A76A;
}
.container{
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  }
.header{
  display:flex;
  background-color: #FFDBAA;
  color: #553100;
  grid-column: span 5;
  height: 100px;
  gap: 25px;
  align-items: center;
  padding-left: 30px;
  text-transform: uppercase;
}
.header > .nav-button{
  background-color: #805215;
  color: white;
  width: 90px;
  height: 50px;
  text-transform: uppercase;
}
#home{
  margin-left: 950px;
}
#about{
  grid-row-start: 3;
  grid-column: span 3;
}

.box{
  background-color: white;
  color: black;
  justify-items: center;
  border: black;

}
.box>.card-button{
  background-color: #805215;
  color: white;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-button>#about{
  background-color: #805215;
  color: white;
  width: 1000px;
  height: 500px;
  padding: 10px;
  margin-bottom: 10px;
}

#flight-box{
  grid-column: 1/2
}