/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D4A76A;
}
.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(300px, auto);
  column-gap: 50px;
}
.header{
  display:flex;
  background-color: #FFDBAA;
  color: #553100;
  grid-column: span 5;
  height: 100px;
  gap: 25px;
  align-items: center;
  padding-left: 30px;
  text-transform: uppercase;
}
.header > .nav-button{
  background-color: #805215;
  color: white;
  width: 90px;
  height: 50px;
  text-transform: uppercase;
}
#home{
  margin-left: 950px;
}

.box{
  background-color: white;
  color: black;
  justify-items: center;

}
.box>.card-button{
  background-color: #805215;
  color: white;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
}