/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/


/* Changing the header background color and text */
head {
  background-color: blue;
  color: #553100;
}
.item-a{
  grid-area: header;
}
.item-b{
  grid-area: main;
}

/* Changing the main background */
.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    background-color: green;
}

h1{
  color: #553100;
}
.main-nav{
  width: 100%;
  background-color: red;
  font-size: 1.5em;
}
/* Styling the button */
button {
  background-color: #805215;
  color: white;
  width: 90px;
  height: 50px;
  align-self: center;
}
#home{
  margin-left: auto;
  align-self: center;
}
.main-nav > .nav-button{
  background-color: black;
  color: yellow;
}